@using HomeworkApr1.Data;
@model Question

<div class="row" style="margin-top:100px;">
    <div class="col-md-10 offset-md-2 bg-light p-4 rounded shadow">
        <h2>@Model.Title</h2>
        <hr />
        <p>@Model.Text</p>
        <hr />
        <span>Asked by @Model.User.Name</span>
        on
        <span>@Model.DatePosted.ToLongDateString()</span>
        <br />
        <span>Tags:</span>
        @foreach (var t in Model.QuestionsTags)
        {
            <span class="badge bg-info">@t.Tag.Name</span>
        }
        <br />
        <br />
    </div>
</div>

@if(Model.Answers.Count > 0)
{
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-4">
            <h3>Answers:</h3>
        </div>
    </div>

    @foreach (var a in Model.Answers)
    {
        <div class="row">
            <div class="col-md-8 offset-md-2 card card-body bg-light">
                <div>@a.Content</div>
                <br />
                <span>Answered by @a.User.Name</span>
                <span>on</span>
                <span>@a.DateAnswered.ToLongDateString()</span>
                <hr />
            </div>
        </div>
    }
}
@if(User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-8 offset-md-2 card card-body bg-light mt-4">
            <h2>Submit an answer</h2>
            <form method="post" action="/home/addanswer">
                <input type="hidden" name="questionid" value="@Model.Id" />
                <textarea class="form-control" placeholder="Type your answer here..." rows="10" name="content"></textarea>
                <br />
                <button class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script>
        $(() => {
            $("#tags").tagsinput({
                tagClass: 'badge bg-info'
            });
        })
    </script>
}
@section styles
    {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
}

